:root {
  /* View color palette in action here: https://coolors.co/tailwind/00357a-ff914d-00bf63 */
  --regal-navy-50: #e5f1ff;
  --regal-navy-100: #cce2ff;
  --regal-navy-200: #99c5ff;
  --regal-navy-300: #66a8ff;
  --regal-navy-400: #338bff;
  --regal-navy-500: #006eff;
  --regal-navy-600: #0058cc;
  --regal-navy-700: #004299;
  --regal-navy-800: #002c66;
  --regal-navy-900: #001633;
  --regal-navy-950: #000f24;

  --tangerine-50: #ffefe5;
  --tangerine-100: #ffe0cc;
  --tangerine-200: #ffc099;
  --tangerine-300: #ffa166;
  --tangerine-400: #ff8133;
  --tangerine-500: #ff6200;
  --tangerine-600: #cc4e00;
  --tangerine-700: #993b00;
  --tangerine-800: #662700;
  --tangerine-900: #331400;
  --tangerine-950: #240e00;

  --emerald-50: #e5fff3;
  --emerald-100: #ccffe6;
  --emerald-200: #99ffce;
  --emerald-300: #66ffb5;
  --emerald-400: #33ff9c;
  --emerald-500: #00ff84;
  --emerald-600: #00cc69;
  --emerald-700: #00994f;
  --emerald-800: #006635;
  --emerald-900: #00331a;
  --emerald-950: #002412;

  --soft-yellow: #F5F5ED;

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  /* background-image: linear-gradient(to top left, var(--regal-navy-950), var(--regal-navy-900)); */
  background-color: var(--soft-yellow);
  animation: bg-gradient 5s infinite;
}

* {
  padding-left: 1rem;
  padding-right: 1rem;
  color: var(--regal-navy-950);
  font-family: Futura;
  margin: 0.5rem;
}

h1 {
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2 {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h3 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h4 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h5 {
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  padding: 1rem 0;
}

.navbar-item {
  padding: 0.5rem !important;
  margin: 0 !important;
}

.site-title {
  margin-right: auto;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 2rem;
  background-image: linear-gradient(to bottom right, var(--regal-navy-200), var(--regal-navy-100));
  border: 2px solid var(--emerald-600);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
}

.search-selector {
  color: var(--regal-navy-950);
  background-color: rgba(0,0,0,0);
  border: none;
  font-size: 1rem;
  margin: 0 !important;
  padding: 0;
}

.search-field {
  min-width: 200px;
  padding: 0 !important;
  margin: 0 !important;
}

.film-card-wrapper {
  background-image: linear-gradient(to bottom right, var(--regal-navy-200), var(--regal-navy-100));
  border: 2px solid var(--emerald-600);
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 1rem;
  box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


.film-card-wrapper:hover {
  transform: scale(1.05) rotate(0deg) translate(0px, -2px) skewX(0deg);
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.3);
  opacity: 1;
  filter: brightness(1.1);
}

.film-title {
  
}

.film-dates {

}

.film-details {

}

.projects-wrapper {

}

.projects-header {
 display: flex;
}

.projects-header-title {
   transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.projects-header-title:hover {
}

.projects {
  
}

.icon {
  padding: 0 !important;
  margin: 0 !important;
}

.side-by-side {
  display: grid;
  grid-template-columns: auto auto;
}

@keyframes bg-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/